@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@599&family=Protest+Riot&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap');

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    overflow-y: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(31.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.fa-brands.fa-vk {
    position: relative;
    top:-68px;
    color:rgb(47, 118, 224);
    font-size: 50px;
    cursor: pointer;
    left: 90px;
    transition: transform 0.5s;
}
.fa-brands.fa-discord{
    position: relative;
    top:-70px;
    color:rgb(6, 2, 245);
    font-size: 47px;
    cursor: pointer;
    left: 80px;
    transition: transform 0.5s;
}
.fa-brands.fa-youtube{
    position: relative;
    top:-72px;
    color:rgb(223, 17, 10);
    font-size: 50px;
    cursor: pointer;
    left: 70px;
    transition: transform 0.5s;
}
.fa-solid.fa-circle-info{
    position: relative;
    top:-66px;
    color:rgb(78, 80, 170);
    font-size: 50px;
    cursor: pointer;
    right: 230px;
    transition: transform 0.5s;
}
.fa-brands.fa-youtube:hover{
    transform: scale(1.3);
}
.fa-brands.fa-discord:hover{
    transform: scale(1.3);
}
.fa-brands.fa-vk:hover{
    transform: scale(1.3);
}
.fa-solid.fa-circle-info:hover{
    transform: scale(1.3);
}


.SwayGrief span {
    color: rgb(255, 0, 0);
    white-space: nowrap;
    letter-spacing: -10px;
}

.SwayGrief{
    position: relative;
    top:160px;
    animation: shadow 3s infinite alternate,  Test1 2.5s;
    -webkit-text-stroke: 1px black; 
    text-stroke: 2px black;
    cursor: default;
    transition: 0.8s;
    
}
.section2{
    position: absolute;
    left: 600px;
    top:370px;
    font-size: 26px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}
.section{
    color:rgb(199, 104, 15);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: normal;
    width: 156px;
    height: 56px;
    padding: 10px 30px;
    border-radius: 20px;
}
.section1{
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    top:420px;
    left:190px;
    text-align: center;
   }
   
.section1:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
.section1:hover {
    color: #fff;
   }
   
.section1:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
.section1:hover:before {
    top: -30px;
    left: -30px;
   }
   
.section1:active:before {
background: #3a0ca3;
 transition: background 0s;
   }
@keyframes shadow {
    0% {
       text-shadow: 0 -2px 10px #49ff18;
   }
   25% {
       text-shadow: 0 -2px 10px #f718ff;
   }
   50% {
       text-shadow: 0 -2px 10px #F00;
   }
   75% {
       text-shadow: 0 -2px 10px #0c3ec7; 
   }
   100% {
       text-shadow: 0 -2px 10px #49ff18;
   } 
}
.container {
    position: fixed;
    outline: 5px solid;
    width: 305px;
    background-image: linear-gradient(to top, #f1f1f1 0%, #6f86d6 100%);
    display: inline-block;
    height: 70px;
    top:10px;
    left:1480px;
    border-radius: 20px;
    color:wheat;
    z-index: 2;
    animation-name: Test1;
    animation-duration: 1.9s;
    animation-timing-function: ease;
    animation-duration: alternate-reverse;
    transition: 0.8s;
    
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color:black; 
    width: 600px;
    height: 400px;
    z-index: 1;
   
}
.modal {
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:2;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.info-server{
    font-size: 28px;
    -webkit-text-stroke: 1px black; 
    text-stroke: 2px black;
    font-family: "Open Sans", sans-serif;
    font-size: normal;
}
.p{
    font-size: 15px;
}
.model-h2{
    font-size:17px;
    -webkit-text-stroke: 1px black; 
    text-stroke: 2px black;
    font-family: "Open Sans", sans-serif;
    font-size: normal;
    
}
.text-SwayGrief{
    position: relative;
    top:-120px;
    left:750px;
    text-align: center;
    font-size: 125px;
    width: 600px;
    height: 570px;
    color: rgb(175, 117, 9);
    font-family: "Protest Riot", sans-serif;
    font-style: normal;
} 
.iconka{
    position: fixed;
    top:40px;
    left:40px;
    animation-name: iconka;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
    z-index: 2;  
}
@keyframes iconka{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
        }        
  
    100% {
        transform:translateY(0px);
    }
}
.outline-border{
    position: relative;
    outline: none;
    border-radius: 20px;
    width: 500px;
    height: 180px;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    top: -189px;
    left:-700px;
    transition: transform 1s;
    z-index: 0;
    animation-name: Test;
    animation-duration: 2.3s;
    animation-timing-function: ease;
    animation-duration: alternate-reverse;
}
.outline-border:hover{
    transform: scale(1.1);
}
@keyframes Test{
    0% {
        transform: translateX(-1700px);
    }   

}
.Grief1{
    position: relative;
    top:-196px;
    z-index: 3;
    font-size: 23px;
    left:2px;
    cursor:default;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
  
}
.online{
    position: relative;
    width: 10px; 
    height: 10px; 
    background-color: rgb(80, 223, 14); 
    border-radius: 50%; 
    display: inline-block; 
    top: -69px;
    left: -213px;
    box-shadow: -1px 1px 8px 7px #8CFF85;
    
}
.slots{
    display: inline-block;
    position: relative;
    left: -233px;
    top: -65px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.version{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color:white;
    background-color: rgb(221, 48, 48);
    border-radius: 15px;
    left:-344px;
    top:-20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 125px ;
    left: -351px;
}

.Nameborder{
    position: relative;
    font-size: 32px;
    top:-80px;
    left:15px;
    width:180px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Ip{
    position: relative;
    font-size: 20px;
    top: -113px;
    left: 124px;
    cursor:pointer;
    width:180px;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    background: rgb(90, 61, 255);
    border-radius: 10px;
    color: orange;
    transition: 0.5s;
}
.Ip:hover{
    background-color: green;
    color:black;
    transition: 0.7s;
    box-shadow: 0 0 40px 3px #be61f5;
}
.copied-message {
    display: none;
    position: relative;
    color: rgb(60, 171, 190);
    font-size:18px;
    top:-317px;
    left:140px;
    width:120px;
    height: 10px;
    font-family: "Nanum Gothic Coding", monospace;
    font-style: normal;
}
.verstack{
    position: relative;
    top:13px;
    left:255px;
    animation-name: verstack;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
}
.outline-border1{
    position: relative;
    outline: none;
    border-radius: 20px;
    width: 500px;
    height: 180px;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    top: -158px;
    left:-700px;
    transition: transform 1s;
    z-index: 0;
    animation-name: Test;
    animation-duration: 2.8s;
    animation-timing-function: ease;
    animation-duration: alternate-reverse;
}
.outline-border1:hover{
    transform: scale(1.1);
}
.Grief2{
    position: relative;
    top:-198px;
    z-index: 3;
    font-size: 23px;
    left:25px;
    cursor:default;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
}
.online1{
    position: relative;
    width: 10px; 
    height: 10px; 
    background-color: rgb(80, 223, 14); 
    border-radius: 50%; 
    display: inline-block; 
    top: -71px;
    left: -195px;
    box-shadow: -1px 1px 8px 7px #8CFF85;
}
@keyframes forAll{
    0% {
        opacity: 0;
        transform: translateY(-140px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
.slots1{
    display: inline-block;
    position: relative;
    left: -212px;
    top: -68px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.version1{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color:white;
    background-color: rgb(221, 48, 48);
    border-radius: 15px;
    left: -325px;
    top:-20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 125px ;
    padding: 0px 10px;
}

.Nameborder1{
    position: relative;
    font-size: 32px;
    top:-80px;
    left:15px;
    width:180px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Ip1{
    position: relative;
    font-size: 20px;
    top: -110px;
    left: 124px;
    cursor:pointer;
    width:180px;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    background: rgb(90, 61, 255);
    border-radius: 10px;
    color: orange;
    transition: 0.5s;
}
.Ip1:hover{
    background-color: green;
    color:black;
    transition: 0.7s;
    /* box-shadow: 0 0 40px 3px #be61f5; */
    box-shadow: 0 0 40px 3px #4969f8;
}
.copied-message1{
    display: none;
    position: relative;
    color: rgb(60, 171, 190);
    font-size:18px;
    top:-316px;
    left:130px;
    width:120px;
    height: 10px;
    font-family: "Nanum Gothic Coding", monospace;
    font-style: normal;
}
.verstack1{
    position: relative;
    top:0px;
    left:255px;
    animation-name: verstack;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
}
.outline-border2{
    position: relative;
    outline: none;
    border-radius: 20px;
    width: 500px;
    height: 180px;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    top:-126px;
    left:-700px;
    transition: transform 1s;
    z-index: 0;
    animation-name: Test;
    animation-duration: 3.3s;
    animation-timing-function: ease;
    animation-duration: alternate-reverse;
}
.outline-border2:hover{
    transform: scale(1.1);
}
.online2{
    position: relative;
    width: 10px; 
    height: 10px; 
    background-color: rgb(80, 223, 14); 
    border-radius: 50%; 
    display: inline-block; 
    top:-66px;
    left:-170px;
    box-shadow: -1px 1px 8px 7px #8CFF85;
    
}
.slots2{
    display: inline-block;
    position: relative;
    left:-190px;
    top: -62px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Grief3{
    position: relative;
    top:-197px;
    z-index: 3;
    font-size: 23px;
    left:-13px;
    cursor:default;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
}
.version2{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color:white;
    background-color: rgb(221, 48, 48);
    border-radius: 15px;
    left:-300px;
    top:-20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 125px;
    padding: 0px 10px ;
}

.Nameborder2{
    position: relative;
    font-size: 32px;
    top:-80px;
    left:15px;
    width:180px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Ip2{
    position: relative;
    font-size: 20px;
    top: -109px;
    left: 124px;
    cursor:pointer;
    width:180px;
    background: rgb(90, 61, 255);
    border-radius: 10px;
    color: orange;
    transition: 0.5s;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
}
.Ip2:hover{
    background-color: green;
    color:black;
    transition: 0.7s;
    /* box-shadow: 0 0 40px 3px #be61f5; */
    box-shadow: 0 0 40px 3px #4969f8;
}
.copied-message2{
    display: none;
    position: relative;
    color: rgb(60, 171, 190);
    font-size:18px;
    top:-313px;
    left:130px;
    font-family: "Nanum Gothic Coding", monospace;
    font-style: normal;
}
.verstack2{
    position: relative;
    top:0px;
    left:255px;
    animation-name: verstack;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
}
.Logout{
    position: relative;
    top: 38px;
    left: 1799px ;
    cursor: pointer;
}
.Log_out{
    
} 
@keyframes verstack {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(3px);
        }        
  
    100% {
        transform:translateY(0px);
    }
    
}
.log-in{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip{
    display: none;
    position: absolute;
    top:-880px;
    left:860px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 20px;
    height: 100px;
    color:black;
}
.log-in:hover .tooltip{
    display: block;
}
.registracia{
    position: relative;
    font-size: 20px;
    padding: 5px 5px;
    top:0px;
    background-color: rgb(71, 177, 68);
    border-radius: 20px;
    text-align: center;
    color:black;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: inline-block;
    text-align: center;
}
.registracia:hover{
    background-color: rgb(47, 155, 47);
    
}

.vhod{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top:-8px;
    padding: 5px 10px;
    background-color: rgb(196, 60, 60);
    border-radius: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    color: #000000;
    display: inline-block;
    text-align: center;
}
.vhod:hover{
    background-color: rgb(236, 6, 6);
}
.vihod{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top:10px;
    padding: 5px 10px;
    background-color: rgb(196, 60, 60);
    border-radius: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    color: #000000;
    display: inline-block;
    text-align: center;
}
.vihod:hover{
    background-color: rgb(236, 6, 6);
}

.fa-solid.fa-right-to-bracket{
    position: relative;
    top: -1010px;
    cursor: pointer;
    font-size:50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,228,96,1) 0%, rgba(112,209,37,1) 64%, rgba(144,35,35,1) 69%, rgba(182,5,32,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    left:900px;  
   
    transition: transform 0.5s;
}
.fa-solid.fa-right-to-bracket:hover{
    transform: scale(1.2);
    
}
.bordertown{
        position: relative;
        border: none;
        background-image: linear-gradient(to right, #60f090 0%, #1b8ae6 100%);  
        height: 30px;
        width: auto;
        top:280px;
        z-index:0
}
.background-black{
    position: relative;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    display: flex;
    width: auto;
    height: 1000px;
    top:281px;
    z-index: 0; 
    
}
.add-button {
    opacity: 0;
    position: relative;
    top:170px;
    left:110px;
    z-index: 2;
    font-size:23px;
    color:rgb(255, 255, 255);
    background-color: red;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size:35px;
}
.border-tovar1{
    border: 2px solid #f5f5f5;
    position: absolute;
    border-radius: 20px;
    top:100px;
    left:250px;
    height: 420px;
    width: 350px;
    overflow: hidden;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}

.border-tovar1:hover {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #902688 46%, #FFCC70 100%); 
}
.border-tovar1:hover .image-Lite {
    opacity: 0;
}
.border-tovar1:hover .add-button{
    opacity: 1;
    position: relative;
    top:155px;
    left:110px;
    z-index: 2;
    font-size:35px;
    color:rgb(255, 255, 255);
    background-color: red;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.image-Lite{
    position: relative;
    top:30px;
    left:45px;
    
}
.Privilegia1{
    position: relative;
    font-size: 24px;
    top:40px;
    left:30px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.Price-1{
    position: relative;
    left:40px;
    font-size: 25px;
    color:white;
    top:5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Skidka1{
    position: relative;
    left:270px;
    font-size: 22px;
    color:white;
    background-color: red;
    border-radius: 20px;
    width: 65px;
    text-align: center;
    top:-60px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Lite1{
    position: relative;
    color:rgb(255, 255, 255);
    left:40px;
    top:20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.Litebuy{
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:2;
}
.buyLite{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color:black; 
    width: 600px;
    height: 400px;
    z-index: 1;
}

.closeLite{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.Lite-info{
    font-size: 28px;
    -webkit-text-stroke: 1px black; 
    text-stroke: 2px black;
    font-family: "Open Sans", sans-serif;
    font-size: normal;
}
.mrl-vote-server {
    position: absolute;
    background-color: #3498db; 
    color: #fff; 
    padding: 10px 15px; 
    border-radius: 10px; 
    display: inline-block; 
    top:150px;
    left:80px;
    animation-name: forAll;
    animation-duration: 3.9s;
    animation-timing-function: ease;
    animation-duration: alternate-reverse;
  }
  .ButtonAnar {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 14px;
    top: 20px;
    left: 160px;
    font-family: inherit;
    cursor: pointer;
    color: #ffffff;
    width: 7em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    background: linear-gradient(90deg, #ff4081, #c51162);
    background-size: 300%;
    border-radius: 20px;
    z-index: 3;
}

.ButtonAnar:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.ButtonAnar:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #ff6e40, #ffab40);
    background-size: 400%;
    border-radius: 20px;
    transition: 1s;
}

.ButtonAnar:hover::before {
    filter: blur(20px);
}

.ButtonAnar:active {
    background: linear-gradient(32deg, #000000, #000000, #000000, #d01ce7);
}

  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  .Rules {
    display: inline-block;
    position: relative;
    left: 1200px;
    top: -714px;
    border: 2px solid #af4c4c;
    background-color: #ffee00;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    animation-name: AniAnarh;
    animation-duration: 3.3s;
    animation-timing-function: ease;
    transition: 1s;
}

.Rules::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 89%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

@keyframes AniAnarh {
    from {
        transform: translateY(-500px);
    }
}

.Rules:hover::after {
    transform: scaleX(1);
}
.Rules:hover{
    background-color: #bbb234;
    border: 2px solid #1eff00;
}
.All1{
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:2;
    overflow-y: scroll;
}
.RulesModal {
    position: absolute;
    width: 90%; 
    max-width: 1100px; 
    height: auto; 
    /* background: linear-gradient(135deg, #77dd77, #a8e063, #79bca0); */
    /* background: linear-gradient(135deg, #ffb6c1, #c9c9ff, #e0ffff);  */
    /* background: linear-gradient(135deg, #c4aead, #d3c8b4, #e4e3ae);  */
     /* background: linear-gradient(135deg, #ff6b6b, #78ffd6, #7b68ee);  */
     background: linear-gradient(135deg, #00bcd4, #4caf50, #673ab7); 
    /* background: linear-gradient(135deg, #8a2be2, #ff69b4, #e6e6fa); */
     /* background: linear-gradient(135deg, #ff7f50, #ffd700, #ffd700);  */
     /* background: linear-gradient(135deg, #87ceeb, #00ff7f, #00ffff);  */
    /* background: linear-gradient(135deg, #4169e1, #00bfff, #8a2be2);  */
     /* background: linear-gradient(135deg, #ff69b4, #ffc0cb, #ffff00);  */
    left: 50%; 
    top: 10px;
    transform: translateX(-50%); 
    border-radius: 20px;
    padding: 20px; 
    box-sizing: border-box; 
}

.RulesAnarchy {
    position: relative;
    display: inline-block;
    left: 40%;
    
    border: 2px solid #4caf50; 
    background-color: #e4c76a; 
    padding: 20px 35px; 
    border-radius: 25px; 
    font-size: 24px; 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75); 
    transition: all 0.3s ease; 
    cursor: default;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.RulesAnarchy:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.9); /
}


.closeRules{
    font-size: 30px;
    position: absolute;
    left:1070px;
    top:0px;
    cursor: pointer;
}
.SamRules,
.SecondRules,
.ThirdRules {
    line-height: 1.6; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    top:-40px; 
}

@keyframes Test1{
    0% {
        transform: translateY(-600px);
        opacity: 0;
    } 
    100%{
        opacity: 1;
    }  

}
 @media (max-width:1820px){
    html, body{
        overflow: hidden;
        }
    .Rules{
    left:1100px;
    top:-713px;
    transform:scale(0.9);
    }
    .Rules::after {
        height: 1px;
    }
    .container{
        left:1380px;
    }
    .outline-border{
        position: absolute;
        width: 420px;
        height: 170px;
        top: 109px 
    }
    .Nameborder{
        top: -219px;
        font-size: 22px;
        left: -14px;
    }
    .verstack{
        left: 179px;
        top: 0px;
        width: 200px;
    }
    .online {
        left: -249px;
        top: -74px;
    }
    .slots {
        left: -270px;
        top: -72px;
    }
    .version{
        top: -169px;
        left: -139px;
        font-size: 15px;
        width: 115px;  
    }
    .buttonGrief{
        left: 0px;
        top: -514px;
        padding: 5px 15px;
    }
    .Grief1{
        top: -312px;
        left: -15px;
        font-size: 20px;
    }
    .Ip{
        top: -235px;
        left: 97px;
        font-size: 19px;
        width: 170px;
    }
    .copied-message{
        position: absolute;
        top: 145px;
        left: 284px;
        font-size: 15px;
    }
    .outline-border1{
        width: 420px;
        height: 170px;
        top: 305px;
        position: absolute;
    }
    .Nameborder1{
        top: -219px;
        font-size: 22px;
        left: -14px;
    }
    .verstack1{
        top: 0px;
        left: 190px;
        width: 190px;
    }
    .online1 {
        left: -236px;
        top: -74px;
    }
    .slots1 {
        left: -257px;
        top: -72px;
    }
    .version1{
        top: -169px;
        left: -128px;
        font-size: 15px;
        width: 115px;  
    }
    .buttonGrief1{
        left: 0px;
        top: -514px;
        padding: 5px 15px;
    }
    .Grief2{
        top: -312px;
        left: 0px;
        font-size: 20px;
    }
    .Ip1{
        top: -235px;
        left: 97px;
        font-size: 19px;
        width: 170px;
    }
    .copied-message1{
        position: absolute;
        top: 145px;
        left: 284px;
        font-size: 15px;
    }
    .outline-border2{
        width: 420px;
        height: 170px;
        top: 500px;
        position: absolute;
    }
    .Nameborder2{
        top: -219px;
        font-size: 22px;
        left: -14px;
    }
    .verstack2{
        left: 179px;
        top: 0px;
        width: 160px;
    }
    .online2 {
        left: -224px;
        top: -69px;
    }
    .slots2 {
        left: -242px;
        top: -67px;
    }
    .version2{
        top: -169px;
        left: -129px;
        font-size: 15px;
        width: 115px;  
    }
    .buttonGrief2{
        left: 0px;
        top: -514px;
        padding: 5px 15px;
    }
    .Grief3{
        top: -314px;
        left: -33px;    
        font-size: 20px;
    }
    .Ip2{
        top: -235px;
        left: 97px;
        font-size: 19px;
        width: 170px;
    }
    .copied-message2{
        position: absolute;
        top: 145px;
        left: 284px;
        font-size: 15px;
    }
    .mrl-vote-server{
        top: 74px;
        left: 118px 
    }
} 
@media (max-width:1730px){
    html, body{
        overflow: hidden;
        }
    .Rules{
        left:1020px;
        top:-713px;
        transform:scale(0.8);
        }
        .Rules::after {
            height: 1px;
        }
    .container{
        left:1280px;
        transform: scale(0.9);
    }
    .outline-border{
        transform: scale(0.9);
        top: 133px;
        left: -730px
    }
    .SwayGrief{
        transform: scale(0.9);
    }
    .outline-border:hover{
        transform: scale(1);
        
    }
    .outline-border1{
        transform: scale(0.9);
        left: -730px;
       
    }
    .outline-border1:hover{
        transform: scale(1);
    }
    .outline-border2{
        transform: scale(0.9);
        top: 478px;
        left: -730px
     
    }
    .outline-border2:hover{
        transform: scale(1);
    }
    .fa-brands.fa-discord:hover{
        transform: scale(1.2);
    }
    .fa-brands.fa-vk:hover{
        transform: scale(1.2);
    }
    .fa-brands.fa-youtube:hover{
        transform: scale(1.2);
    }
    .fa-solid.fa-circle-info:hover{
        transform: scale(1.2);
    }
}
 @media (max-width:1620px){
    html, body{
        overflow: hidden;
        }
    .RulesModal{
        transform: translate(-50%, -5%) scale(0.9);
    }
    .Rules{
        left:850px;
        top:-713px;
        transform:scale(0.7);
        }
        .Rules::after {
            height: 1px;
        }
    .SwayGrief{
        transform: scale(0.8);
        left:-110px;
    }
    .container{
        transform: scale(0.8);
        left:1100px;
    }
    .fa-brands.fa-discord:hover{
        transform: scale(1.1);
    }
    .fa-brands.fa-vk:hover{
        transform: scale(1.1);
    }
    .fa-brands.fa-youtube:hover{
        transform: scale(1.1);
    }
    .outline-border{
        transform: scale(0.8);
        top: 100px 
    }
    .outline-border1{
        transform: scale(0.8);
        top: 254px;
    }
    .outline-border2{
        transform: scale(0.8);
        top: 408px;
    }
    .outline-border:hover{
        transform: scale(0.9);
    }
    .outline-border1:hover{
        transform: scale(0.9);
    }
    .outline-border2:hover{
        transform: scale(0.9);
    }
    .mrl-vote-server{
        transform: scale(0.8);
    }
   
}
@media (max-width:1450px){
    html, body{
        overflow: hidden;
        }
    .RulesModal{
        transform: translate(-50%, -10%) scale(0.8);
    }
    .Rules{
        left:790px;
        top:-713px;
        transform:scale(0.7);
    }
    .Rules::after {
        height: 1px;
    }
    .SwayGrief{
    transform: scale(0.7);
    left:-210px;
    top:50px;
  }
  .container{
    transform: scale(0.65);
    left:980px;
  }
  .outline-border{
    transform: scale(0.7);
    left: -770px;
  }
  .outline-border1{
    transform: scale(0.7);
    top:237px;
    left: -770px;
  }
  .outline-border2{
    transform: scale(0.7);
    top:375px;
    left: -770px;
  }
  .outline-border:hover{
    transform: scale(0.75);
  }
  .outline-border1:hover{
    transform: scale(0.75);
  }
  .outline-border2:hover{
    transform: scale(0.75);
  }
  .iconka {
    width: 43px;
    height: 43px;
}
.fa-brands.fa-discord:hover{
    transform: scale(1.1);
}
.fa-brands.fa-vk:hover{
    transform: scale(1.1);
}
.fa-brands.fa-youtube:hover{
    transform: scale(1.1);
}
.fa-solid.fa-circle-info:hover{
    transform: scale(1.1);
}
    
} 
 @media (max-width:1275px){
    html, body{
        overflow: hidden;
        }
    .RulesModal{
        transform: translate(-50%, -15%) scale(0.7);
    }
    .Rules{
        left:700px;
        top:-713px;
        transform:scale(0.6);
        }
        .Rules::after {
            height: 1px;
        }   
    .SwayGrief{
        transform: scale(0.6);
        left:-260px;
       }
       .container{
        left:860px;
        transform:scale(0.6)
       }
       .fa-brands.fa-discord:hover{
        transform: scale(1.1);
    }
    .fa-brands.fa-vk:hover{
        transform: scale(1.1);
    }
    .fa-brands.fa-youtube:hover{
        transform: scale(1.1);
    }
   
    .outline-border{
        transform: scale(0.65);
        top:65px;
    }
    .outline-border1{
        transform: scale(0.65);
        top: 195px;
    }
    .outline-border2{
        transform: scale(0.65);
        top:325px;
    }
    .outline-border:hover{
        transform: scale(0.7);
      }
      .outline-border1:hover{
        transform: scale(0.7);
      }
      .outline-border2:hover{
        transform: scale(0.7);
      }
    }   
@media (max-width:1130px){
    html, body{
        overflow: hidden;
        }
    .Rules{
        left:600px;
        top:-713px;
        transform:scale(0.6);
        }
        .Rules::after {
            height: 1px;
        }
        .RulesModal{
            left:600px;
            transform: translate(-50%, -16%) scale(0.67);
        }       
    .mrl-vote-server{
            top:40px;
        }
        .SwayGrief{
            left:-350px;
            transform: scale(0.54);
        }
        .container{
            left:750px;
            transform: scale(0.54);
        }

        .outline-border{
            transform: scale(0.56);
            left: -793px;
            top: 47px;
        }
        .outline-border1{
            transform: scale(0.56);
            left: -793px;
            top: 162px;
        }
        .outline-border2{
            transform: scale(0.56);
            left: -793px;
            top: 277px;
        }
        .outline-border:hover{
            transform: scale(0.6);
          }
          .outline-border1:hover{
            transform: scale(0.6);
          }
          .outline-border2:hover{
            transform: scale(0.6);
          }
          .fa-brands.fa-discord:hover{
            transform: scale(1.1);
        }
        .fa-brands.fa-vk:hover{
            transform: scale(1.1);
        }
        .fa-brands.fa-youtube:hover{
            transform: scale(1.1);
        }
        .fa-solid.fa-circle-info:hover{
            transform: scale(1.1);
        }
    }

@media (max-width:998px){
    html, body{
        overflow: hidden;
        }
   .closeRules{
    left:97%
   }
   .RulesModal{
    left:400px;
   }
    .Rules{
        left:450px;
        top:-713px;
        transform:scale(0.6);
        }
        .Rules::after {
            height: 1px;
        }   
    .SwayGrief{
        left:-450px;
        transform: scale(0.55);
    }
    .container{
        left: 660px;
        top:10px;
        transform: scale(0.7);
    }
    .outline-border{
        top: 103px;
        transform: scale(0.9);
        left:-760px;
    }
    .outline-border1{
        top: 275px;
        transform: scale(0.9);
        left:-760px;
    }
    .outline-border2{
        top: 446px;
        transform: scale(0.9);
        left:-760px;
    }
    .outline-border:hover{
        transform: scale(0.95);
      }
      .outline-border1:hover{
        transform: scale(0.95);
      }
      .outline-border2:hover{
        transform: scale(0.95);
      }
      .mrl-vote-server{
        left:120px;
        transform: scale(1.1);
      }
}
@media (max-width:820px){
    .Rules{
        left:550px;
        top:-713px;
        transform:scale(0.6);
        }
        .Rules::after {
            height: 1px;
        } 
       
        html, body{
            overflow: hidden;
            }
        .outline-border{
        top: 232px; 
        transform: scale(1);
        left:-600px;
    }
    .outline-border1{
        top: 415px;
        transform: scale(1);
        left:-600px;
    }
    .outline-border2{
        top: 594px;
        transform: scale(1);
        left:-600px;
    }
    .container{
        left: 210px;
    }
    .SwayGrief{
        left:-750px;
    }
    .mrl-vote-server{
        left:260px;
        top:100px;
        transform: scale(0.7);
    }
    .outline-border:hover{
        transform: scale(1.1);
    }
    .outline-border1:hover{
        transform: scale(1.1);
    }
    .outline-border2:hover{
        transform: scale(1.1);
    }
}
@media (max-width:768px){
    html, body{
        overflow: hidden;
        }
    .Rules{
        left:300px;
        top:-713px;
        transform:scale(0.6);
        }
        .Rules::after {
            height: 1px;
        } 
        .RulesModal{
            left:350px;
        }
        .closeRules{
            left:96%
        }
        
    .mrl-vote-server{
        transform: scale(0.8);
        left:100px;
        top:20px;
      }
      .SwayGrief{
        left:-570px;
        transform: scale(0.5);
      }
      .container{
        left:450px;
        transform:scale(0.6)
      }
      .outline-border {
        top: 36px;
        left: -812px;
        transform: scale(0.6);
    }
    .outline-border1 {
        top: 148px;
        transform: scale(0.6);
        left: -812px;
    }
    .outline-border2 {
        top: 260px;
        transform: scale(0.6);
        left: -812px;
    }
    .outline-border:hover {
      
        
        transform: scale(0.68);
    }
    .outline-border1:hover{
     
        transform: scale(0.68);
        
    }
    .outline-border2:hover {
        
        transform: scale(0.68);
       
    }
}
@media (max-width:568px){
    html, body{
        overflow: hidden;
        }
    .mrl-vote-server{
        left:120px;
    }
    .SwayGrief{
        transform: scale(0.4);
        left:-900px;
    }
    .container{
        left:50px;
        top:250px;
    }
    .outline-border{
        top: 287px;
        left:-765px;
        transform: scale(0.88);
    }
    .outline-border1{
        top: 451px;
        left:-765px;
        transform: scale(0.88);
    }
    .outline-border2{
        top: 615px;
        left:-765px;
        transform: scale(0.88);
    }
    .outline-border:hover{
        transform: scale(0.92);
      }
      .outline-border1:hover{
        transform: scale(0.92);
      }
      .outline-border2:hover{
        transform: scale(0.92);
      }
    } 
    .modal-content{
        width: 450px;
    }
    @media (max-width:506px) {
        .RulesModal{
            left:200px
        }
        html, body{
            overflow: hidden;
            }
    }
    @media (max-width:483px){
        .Rules{
            left:100px;
            top:-650px;
            transform:scale(0.6);
            }
            .Rules::after {
                height: 1px;
            }
            html, body{
                overflow: hidden;
                }
    }
    @media (max-width:490px){
        html, body{
            overflow: hidden;
            }
        
        .modal-content{
            width: 370px;
        }
        .Rules{
            left:70px;
            top:-670px;
            transform:scale(0.4);
            }
            .Rules::after {
                height: 1px;
            } 
    }
    @media (max-width:415px){
        .modal-content{
            width: 350px;
        }
        html, body{
            overflow: hidden;
            }
    }
  
    @media (max-width:386px){
        html, body{
            overflow: hidden;
            }
        .mrl-vote-server{
            transform: scale(0.7);
            left:70px;
        }
        .SwayGrief{
            top:0px;
            transform: scale(0.38);
            left:-920px;
        }
        .container{
            top:190px;
            left:10px;
        }
        .outline-border{
            transform:scale(0.67);
            left:-780px;
            top: 220px;
        }
        .outline-border1{
            transform:scale(0.67);
            left:-780px;
            top: 343px 
        }
        .outline-border2{
            transform:scale(0.67);
            left:-780px;
            top: 466px;
        }
        .outline-border:hover{
            transform: scale(0.74);
          }
          .outline-border1:hover{
            transform: scale(0.74);
          }
          .outline-border2:hover{
            transform: scale(0.74);
          }
          .modal-content{
            width: 220px;
        }
        .info-server{
            font-size: 20px;
        }
    }

@media (max-height:500px){
   
    .mrl-vote-server{
        left:35px;
        top:0px;
        transform: scale(0.6);
    }
    .SwayGrief{
        top:-44px;
        transform: scale(0.4);
    }
    .outline-border {
        top: 77px;
        transform: scale(0.45);
        left: -856px;
    }
    .outline-border:hover{
        transform: scale(0.5);
    }
    .outline-border2 {
        top: 78px;
        transform: scale(0.45);
        left: -395px;
    }
    .outline-border2:hover{
        transform: scale(0.5);
    }
    .container{
        top:0px;
        left:600px;
    }
    .outline-border1 {
        transform: scale(0.45);
        left: -626px;
        top: 77px;
    }
    .outline-border1:hover{
        transform: scale(0.5);
    }
    .modal-content{
        height: 210px;
    }
    .Rules{
        left:350px;
        top:-730px;
    }
}
@media (max-height:380px){
    
    .mrl-vote-server{
        left:35px;
        top:0px;
        transform: scale(0.6);
    }
    .SwayGrief{
        top:-44px;
        transform: scale(0.4);
        left:-750px
    }
    .outline-border {
        top: 77px;
        transform: scale(0.45);
        left: -856px;
    }
    .outline-border:hover{
        transform: scale(0.5);
    }
    .outline-border2 {
        top: 78px;
        transform: scale(0.45);
        left: -395px;
    }
    .outline-border2:hover{
        transform: scale(0.5);
    }
    .container{
        top:0px;
        left:380px;
    }
    .outline-border1 {
        transform: scale(0.45);
        left: -626px;
        top: 77px;
    }
    .outline-border1:hover{
        transform: scale(0.5);
    }
    .modal-content{
        height: 210px;
    }
    .Rules {
        top: -729px;
        left:198px
    }
}